@page "/delete/{trainId}"
@inject HttpClient Http
@using  Trains.Shared
@using  Trains.Client.ViewModels
@inject ITrainsViewModel TrainsViewModel
@inject NavigationManager NavigationManager

<h2>Delete</h2>
<h3>Are you sure you want to delete train with id : @trainId</h3>
<br />
<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Name</td>
            <td>@TrainsViewModel.Train.Name</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>@TrainsViewModel.Train.Company</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>@TrainsViewModel.Train.LicensePlate</td>
        </tr>
        <tr>
            <td>City</td>
            <td>@TrainsViewModel.Train.HomeStation</td>
        </tr>
    </table>
    <div class="form-group">
        <input type="submit" value="Delete" @onclick="@(async () => await Delete())" class="btn btn-default" />
        <input type="submit" value="Cancel" @onclick="@Cancel" class="btn" />
    </div>
</div>

@functions {

    [Parameter]
    public string trainId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await TrainsViewModel.GetTrainAsync(new Guid(trainId));
    }

    protected async Task Delete()
    {

        await TrainsViewModel.RemoveTrainAsync();
        await Task.Delay(200);
        NavigationManager.NavigateTo("/trainsdata");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/trainsdata");
    }
}
